.content {
    margin-left: 5rem;
    margin-top: 4rem;
    width: 50%;
}

button {
    margin-right: 0.5rem;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    margin-left: 1rem;
}

.button-row {
    display: flex;
}

.skill-button {
    display: flex;
    margin: auto;
}
